<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="input-group">
      <%= f.text_field :address, class:"form-control" , autofocus:true , placeholder:"Search"  %>
      <div class="field">
        <%= f.hidden_field :latitude %>
      </div>
      <div class="field">
        <%= f.hidden_field :longitude %>
      </div>
      <span class="input-group-btn">
        <%= f.submit 'Go', class:"btn btn-primary" %>
      </span>
    </div>
  </div>
<% end %>
<br>
<br>

<p>Travelx gives you access from over 2,500,000 Vacation Rental and Short term rentals listings across the world in over 200,000 travel destinations via 9 major service providers including Airbnb, HomeStay and much more...</p>
