<div class="container">

	<%@results.each do |result| %>
	<div class="container container-background">
	<div class="row">
		<div class="page-header">
	  	<h1><%= result["attr"]["heading"]%></h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<%= image_tag result["photos"][0]["large"], class: "img-thumbnail" %>
		</div>
		<div class="col-md-6">
			<div id="map"><script>
				var lat = #{result["latLng"][0]};
				var lng = #{result["latLng"][1]};
				var position =  new google.maps.LatLng(lat,lng);
				var zoomLevel = 8;
				var mapId = document.getElementById('map');
				var map;
				function initMap(){
				map = new google.maps.Map(mapId, {
				center: position,
				zoom: zoomLevel,
				mapTypeId: google.maps.MapTypeId.ROADMAP
				});
				}
				google.maps.event.addListener(map, 'idle', function() {

				var map_centre = map.getCenter();
				lat = map_centre.lat();
				lng = map_centre.lng();


				}

				});
			</script></div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Specifications</h3>
					</div>
					<div class="panel-body">
						<p><strong>Room Type: </strong><%= result["attr"]["roomType"]["text"]%></p>
						<p><strong>Bedrooms: </strong><%= result["attr"]["bedrooms"]%></p>
						<p><strong>Beds: </strong><%= result["attr"]["beds"]%></p>
						<p><strong>Bathrooms: </strong><%if result["attr"]["bathrooms"] < 0%>
																						<p>None</p>
																						<%else%>
																						<%=result["attr"]["bathrooms"]%>
																					<%end%></p>
						<p><strong>Occupancy: </strong><%= result["attr"]["occupancy"]%></p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Pricing</h3>
					</div>
					<div class="panel-body">
						<p><strong>Monthly: $</strong><%= result["price"]["monthly"]%></p>
						<p><strong>Nightly: $</strong><%= result["price"]["nightly"]%></p>
						<p><strong>Weekly: $</strong><%= result["price"]["weekly"]%></p>
						<p><strong>Weekend: $</strong><%= result["price"]["weekend"]%></p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<address>
					<strong>Address: </strong><br>
					<%= result["location"]["all"]%><br>
				</address>
			</div>
			<div class="col-md-3">
				<strong>Service Provider: </strong><%= result["provider"]["full"]%><br>
				<address>
					<a href="mailto:<%= result["provider"]["full"]%>"><%= result["provider"]["full"]%></a><br>
				</address>
			</div>
			<div class="col-md-3">
				<strong>Rating: </strong><% if result["reviews"]["rating"].to_i < 0 %>
																		<p>None</p>
																	<% else %>
																		<%= result["reviews"]["rating"] %>
																	<% end %>
			</div>
			<div class="col-md-3">
				<a href="<%= result["provider"]["url"]%>" class="btn btn-success">Book Now</a><br>
			</div>
		</div>
	</div>
	</div>
	<% end %>